
*{
    margin-left: 0px;
    margin-right: 0px;
    
}

#topheading{
   /* height: 100px;  */
   width: 100%;
   border: 0px solid black;
   text-align: center;
   margin-top: 70px;
}

#container{
    width: 100%;
    border: 0px solid red;
    /* height: 400px; */
    display: flex;
    justify-content: center;

}
#both_div_top{
    width: 85%;
    border: 0px solid black;
    display: flex;
    justify-content: center;
}
#content{
    display: flex;
    border: 0px solid green;
    width: 95%;
    /* align-items: center; */
}
#filter{
    border: 0px solid blue;
    width: 25%;
    display: flex;
    flex-direction: column;
    position:sticky;
    top: 0;
    
    
}
#filtop{
    display: flex;
    align-items: center;

}
.fill{
    margin-left: 2%;
    margin-right: 2%;
    display: inline;
    border: 0px solid black;

}

#listing_div_first{
    border: 0px solid rgb(197, 218, 12);
    width: 72%;
    /* height: 90%; */
    display: flex;
    justify-content: center;
    
}
#listing_div_second{
    border: 0px solid rgb(215, 24, 183);
    width: 97%;
    /* height: 99%; */
    display: flex;
    flex-direction: column;
    /* position: absolut; */

    
}
#append_div{
   width: 98%;
   border: 0px solid rgb(50, 205, 78);
   height: auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   
}
#change_page{
    width: 98%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0px solid green;
}
.appimg{
    width: 60%;
    margin-bottom: 8%;
    /* height: 30%; */
}
.appparent{
    border: 0px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5%;
    border-radius: 5%;
    border-radius: 16px 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-family: Inter;
    border: 0px solid teal;

}

.appparent:hover{
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.star_img{
    width: 10%;
    }
.rating{
    color: #8292B4;
    font-size:smaller;
    
    
    /* width: 20%; */
}
.appindiv{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 251, 251, 0.6);
    border-radius: 16px 6px;
    /* border: 1px solid green; */

    

}
.comp{
    margin-bottom: 10%;
}
.cata{
    color: #8292B4;
    width: 86%;
    font-size: small;

}
.rateindiv{
    border: 0px solid black;
    width: 90%;
    height: 40%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.review{
    /* margin-left: 2%; */
    color: #8292B4;
    font-size:smaller;

}
.appbtn{
    
    background-color: rgb(130, 157, 167);
    padding: 11px 20px;
    color: #457eff;
    font-weight: 600;
    background-color: #f1f5ff;
    display: inline-block;
    border-radius: 27px;
    border: 0px;
    font-size: 15px;

}
#change_page_in_div{
    width: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 0px solid green;
    color: #8292b4;
}
.changebtn{
    opacity: 0.5;
    border-radius: 6px;
    border: 0.9px;
}
#pagect{
    width: 10%;
    background-color: orange;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}


#drop1{
    width: 80%;
    
}
#sector1{
    outline: none;
    border: none;
}
.firstdrop{
    position: relative;
    max-width: 95%;
    height: auto;
    border: 0px solid red;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    
}

     
.select_btn{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    border: 0px solid rgb(21, 150, 157);
    border-radius: 5px;
    height: 12%;
    width: 80%;
    
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    
}
.btn_txt{
    font-size: 16px;
    font-weight: 800;
    color: #333;
    
    

}
.list_items{
    position: relative;
    margin-top: 15px;
    background-color: white;
    border: 0px solid red;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    padding: 0px 0px 16px 0px;
    display:block;
    width: 80%;
    
}
.select_btn.close~.list_items{
    display:none;
    /* visibility: hidden; */
    height: 0px;

}
.arrow_dwn{
    display: flex;
    height: 18px;
    width: 18px;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 50%;
    /* background-color:#697798; */
    justify-content: center;
    align-items: center;
}
.close~.arrow_dwn{
    transform: rotate((-180deg));
}
.items{
    list-style: none;
    display: flex;
    align-items:center;
    height: 30px;
    border: 0px solid rgb(30, 33, 203);

    width: 100%;
    margin:5px auto;
}
.items .checkbox{
   
    height:14px;
    width: 14px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;

}
.item_text{
    font-size: 13px;
    font-weight: 400;
    color: #8292B4;

}

.checkbox .fa-check{
    color:black;
    font-size: 14px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }
  .items.checked .fa-check{
    transform: scale(1);
  }
 
  /* .close{
    display: ;
  } */
  
  
 