#border{
    width: 100%;
    height: 380px;
    /* border: 1px solid black; */
    border-top: 1.7px solid #d6dbe7;
  
}
#footerFirst{
    margin: auto;
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    border-bottom: 1px solid #d6dbe7;
}
#footerFirst>div{
    height: 150px;
    margin-top: 55px;
    /* border: 1px solid black; */
    /* margin-right: 10px; */
    width: 150px;
}
#footerFirst>#footerfirst{
    width: 190px;
    color:#8292B4;
font-size: 15px;
line-height: 20px;
font-weight: 400;
}
#footerFirst>#footerlast{
    margin-top: 40px;
    width: 330px;
    padding: 10px;
    margin-left: 65px;
    height: 145px;
    border: 1px solid #d6dbe7;
    border-radius: 10px;
}
#footerFirst>#footerfirst>p{
    margin-top: 40px;
    color:#8292B4;
}
#footerFirst>div>div>i{
    /* color: aqua; */
    margin-right: 12px;
    font-size: 20px;
}
#footerFirst>div>p{
    margin-top: 0%;
    color:#6b7282;
    font-weight:
400;
font-size:
15px;
line-height:
20px;
}
#footerFirst>div>p:hover{
    color:
#457EFF;
cursor: pointer;
}
#footerlast>div{
    /* width: 90%; */
    display: flex;
    margin: auto;
    /* margin-left: 12px; */
}
#footerlast>h4{
    margin-left: 12px;
    color:
#1B2437;
line-height:
23px;
font-size:
15px;
margin-bottom: 0%;
margin-bottom: 2px;
}
#footerlast>p{
    margin-left: 12px;
    font-size:
13px;
line-height:
20px;
font-weight:
400;
margin-bottom: 20px;
}
#footerlast>div>img{
    margin: auto;
}
#footerLast{
    margin: auto;
    width: 80%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
#footerLast>:first-child{
    width: 10%;
    height: 100%;
    /* border: 1px solid green; */
}
#footerLast>:first-child>img{
    width: 90%;
    margin-top: 35px;
    /* height: 100%; */
    /* border: 1px solid green; */
}
#footerLast>:nth-child(2){
    width: 31%;
    height: 100%;
    margin-top: 35px;
    /* border: 1px solid green; */
}
/* #footerLast>:nth-child(2)>div{
    margin-top: 30px; */
#footerLast>:nth-child(2)>div>p{
    color:
#8292B4;
line-height:
18px;
font-size:
13px;
margin-top: 0%;
margin-bottom: 0%;
font-weight:
400;
}
#footerLast>:nth-child(3){
    width: 10%;
    height: 100%;
    margin-top: 45px;
    /* margin: auto; */
    /* border: 1px solid green; */
}
#footerLast>:nth-child(3)>p{
    color:
#1B2437;
line-height:
16px;
font-size:
13px;
font-weight:
400;
margin-top: 0%;
margin-left: 10px;
}
#footerLast>:nth-child(4){
    width: 45%;
    height: 100%;
    margin-top: 45px;
    /* border: 1px solid green; */
}
#footerSlide>img{
    width: 25%;
}