.navbar{
    display: flex;
    height:69px;
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    justify-content: center;
    position: absolute;
    top: 0%;
     margin-top: 0%;
     margin-left: -10px;
     background-color: white;
     z-index: 1;
    /* margin-right: -15px;  */
   
   
}
.navscroll{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#mid{
    /* border: 1px solid black ; */
    color: #44464b;
    display: flex;
    /* margin-right: 100px; */
    margin-right: 450px;
    margin-left: -100px;
  
   
    font-family: Inter,Roboto,sans-serif,Helvetica;
    font-weight: 500;
   
   
    
}
#mid>div{
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 1px solid yellow; */
    height: auto;
    margin: auto;
     margin-right: 25px;
     cursor: pointer;
  
}
#mid>div:hover{
    color: black;
    text-decoration: underline;
    /* text-decoration-color: red; */
    text-decoration-thickness:3px;
    
     
    

}

#last1{
    /* border: 1px solid green; */
    color: #44464b;
    display: flex;
   margin-left:-90px;
  
    margin-right:80px;
    /* pointer-events: all; */
    font-family: Inter,Roboto,sans-serif,Helvetica;
    /* font-weight: 400; */
   /*  word-wrap: break-word; */
   
   

}
#last1>div{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    /* border: 1px solid yellow; */
    height: auto;
     margin: auto; 
    margin-left: 10px;
    cursor: pointer;
   
}
#btn1{
    border: 1px solid #457eff;
    border-radius: 20px;
    padding: 10px 20px;
    border-color:#457eff; ;
    /* background-color:white; */
    /* border-color: #457eff; */
    color: #457eff;
     cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
#btn2{
    border: 1px solid #f9866c;
    border-radius: 20px;
    padding: 10px 20px;
    /* border-color:#457eff; ; */
    background-color: #f9866c;
    /* border-color:; */
    color: white;
   
 
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;

}
 
  .logo{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 80%;
    width:200px;
    /* border: 1px solid red ; */
    margin: auto;
    margin-left: 20px;
    /* cursor: pointer; */
  
   
   
   
  }
 
.logo>a>img{
   height: 80%;
   margin-top: 10px;
    /* padding-top: 10px;
    padding-bottom: 1px; */
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.sticky{
    margin-top: -5px;
    position: fixed;
    background-color: white;

}
.vl {
  border-left: 1px solid gray;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.inside{

    /* border: 1px solid red ; */
   /* height: auto; */
  display: block;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    top:70px;
    left:10%;
   
   
   width: 886px;
    background: #fff;
   
    font-family: Inter,Roboto,sans-serif,Helvetica;
    font-weight: 400;
     /* padding: 10px 1px;  */
    max-height: 0px; 
     overflow: hidden;
     transition: max-hight 0.5s;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; 
   
}

.inside.hideandsick{
    max-height: 600px;
}

.inside>div{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: auto;
    row-gap: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    /* box-shadow: 0 4px 10px rgb(0 77 255 / 4%); */
    text-align: left;
    /* box-shadow: 0px 0px 1px 1px gray; */
    /* box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.75); */

}
.inside>div>ul li{
   
   list-style: none;
   margin-bottom:10px;
   /* transition:transform 0.5s; */
}
.inside>div>ul>.nI-gNb-menuItems>div:hover{
    color: #457eff;
    cursor: pointer;
    /* transform: translate(5px); */
}
.nI-gNb-header1__headerAnchor{
    color: #1b2437;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}
/* .jobs{
    float: left;
    overflow: hidden;
} */

.insidee{

    /* border: 1px solid red ; */
   /* height: auto; */
  display: block;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: absolute;
    top:70px;
    left:10%;
   
   
   width: 886px;
    background: #fff;
   
    font-family: Inter,Roboto,sans-serif,Helvetica;
    font-weight: 400;
     /* padding: 10px 1px;  */
    max-height: 0px; 
      overflow: hidden; 
     transition: max-hight 0.5s;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; 
   
}

.insidee.hideandsick2{
    max-height: 600px;
}

.insidee>div{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: auto;
    row-gap: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    /* box-shadow: 0 4px 10px rgb(0 77 255 / 4%); */
    text-align: left;
    /* box-shadow: 0px 0px 1px 1px gray; */
    /* box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.75); */

}
.insidee>div>ul li{
   
   list-style: none;
   margin-bottom:10px;
   /* transition:transform 0.5s; */
}
.insidee>div>ul>.nI-gNb-menuItems>div:hover{
    color: #457eff;
    cursor: pointer;
    /* transform: translate(5px); */
}
.nI-gNb-header1__headerAnchor{
    color: #1b2437;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}
/* .jobs{
    float: left;
    overflow: hidden;
} */
.serinside{

    /* border: 1px solid red ; */
   /* height: auto; */
  display: block;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    top:70px;
    left:9%;
   
   
   width: 886px;
    background: #fff;
   
    font-family: Inter,Roboto,sans-serif,Helvetica;
    font-weight: 400;
     /* padding: 10px 1px;  */
    max-height: 0px; 
      overflow: hidden; 
     transition: max-hight 0.5s;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; 
   
}

.serinside.hideandsick3{
    max-height: 600px;
}

.serinside>div{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: auto;
    row-gap: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    /* box-shadow: 0 4px 10px rgb(0 77 255 / 4%); */
    text-align: left;
    /* box-shadow: 0px 0px 1px 1px gray; */
    /* box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.75); */

}
.serinside>div>ul li{
   
   list-style: none;
   margin-bottom:10px;
   /* transition:transform 0.5s; */
}
.serinside>div>ul>.nI-gNb-menuItems>div:hover{
    color: #457eff;
    cursor: pointer;
    /* transform: translate(5px); */
}
.nI-gNb-header1__headerAnchor{
    color: #1b2437;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}
.eminside{

    /* border: 1px solid red ; */
   /* height: auto; */
  display: block;
    display: grid;
   
    position: absolute;
    top:70px;
   right:  9%;
   
   /* text-align: left; */
   width:200px;
    background: #fff;
   
    font-family: Inter,Roboto,sans-serif,Helvetica;
    font-weight: 400;
     /* padding: 10px 1px;  */
    max-height: 0px; 
      overflow: hidden; 
     transition: max-hight 0.5s;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; 
   
}

.eminside.hideandsick4{
    max-height: 400px;
}


.eminside>ul li{
   
   list-style: none;
   margin-bottom:10px;
   
   /* transition:transform 0.5s; */
}
.eminside>ul>.nI-gNb-menuItems>div:hover{
    color: #457eff;
    cursor: pointer;
    /* transform: translate(5px); */
}
.overlay{
    width: 100%;
    position: fixed;
    top: 0%;
    background: rgb(0,0,0,0.5);
    height: 100vh;
    z-index:2;
    opacity:1;
    transition: 1s;
    
}
.showoverlay{
 z-index: 3;
    opacity: 1;
} 
/* .showlogin{
    visibility: visible;
} */